*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*:focus {
    outline: none;
}

nav {
    z-index:999;
}

body{
    background-color: hsl(358, 60%, 60%);
    /* overflow-x: hidden; */
}

#slideshow{
    width: 100%;
    height: 100vh;
    background-color: navy;
    position: relative;
    overflow: hidden;
    top: -60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
}
.slide{
    position: relative;
    /* top: 0px;
    left: 0px; */
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.slideshow-background{
    background-color: #ff5A5f;
    background-size: cover;

    width: 100%;

    height: 100vh; 
    /* position: absolute; */
    top: 0px;
    left: 0px;
    /* margin: -10px -10px -10px -10px;  */
    /* FILTER */
    filter: blur(2px) grayscale(70%) brightness(60%);
}
.slideshow-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #087E8B;
    opacity: 0.5;
}
.slideshow-body{
    position: absolute;
    top: 0px;
    /* left: 0px; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:  2px solid yellow; */
}
.slideshow-body>h2{
    text-align: center;
    padding: 0px 0px 10px 0px;
    font-size: 40px;
    color: #f5f5f5;
}
.slideshow-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px black solid; */
    height: 280px;
    width: 80%;
    color: hsl(0, 3%, 93%);
}
.slide-info{
    /* border: 2px navy solid; */
    padding: 30px;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    width: 90%;
}
.slide-descriere{
    font-style: oblique;
}
.slide-format{
    display: flex;
    flex-direction: row;
    /* border: 2px green solid; */
    justify-content: space-between;
    padding: 0px 100px 0px 0px;
}
.slide-img{
    height: 250px;
    width: 180px;
    border-radius: 5px;
}
.slide-format>button{
    background-color: #ff5A5f;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #f5f5f5;
    height: 40px;
    width: 160px;
    transition: 0.3s ease;
    cursor: pointer;
}
.slide-format>button:hover{
    background-color: #3C3C3C;
    color: #f5f5f5;
}

.slide-left-animation{
    animation: slide-left 0.5s linear forwards;
}
.slide-right-animation{
    animation: slide-right 0.5s linear forwards;
}
@keyframes slide-left{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide-right{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
        transform: skewX(-90deg); 
    }
    100%{
        opacity: 1;
        transform: skewX(-180deg);
    }
}


/* Next & previous buttons */
#prevSlide, #nextSlide {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: #ff5A5f;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
  }
#nextSlide{
    right:0px; 
}
#prevSlide{
    left: 0px; 
}
#prevSlide:hover, #nextSlide:hover {
    background-color: rgba(60, 60, 60, 0.8);
  }


#home-events {
    padding:100px 0;
}

#home-events ._card {
    background: white;
    border-radius: 5px;
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#home-events ._card img {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 210px;
}

#home-events ._card .buy-btn {
    background: #ff5A5f;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    color: white;
}


#home-events ._card .buy-btn:hover {
    background: rgb(53, 53, 53);
    color: white;
}
.slide-bttn-resp{
    display: none;
    background-color: #ff5A5f;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #f5f5f5;
    height: 40px;
    width: 160px;
    transition: 0.3s ease;
    cursor: pointer;
}
.slide-bttn-resp:hover{
    background-color: #3C3C3C;
    color: #f5f5f5;
}
.slide-data-resp{
    display: none;
}


.cards-container{
    /* border: 2px solid blue; */
    /* margin: 0px !important; */
    padding: 20px 30px !important;
}

.card{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.row{
    margin: 0px !important;
}
.card-img{
    height: 100%;
}
.left-card{
    padding: 5px;
}
.buy-btn{
    background-color: #ff5A5f;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #f5f5f5;
    height: 40px;
    width: 160px;
    transition: 0.3s ease;
    cursor: pointer;
}
.buy-btn:hover{
    text-decoration: none;
    background-color: #3C3C3C;
    color: #f5f5f5;
}

@media screen and (max-width: 925px) {

    #prevSlide, #nextSlide{
        display: none;
    }
    #slideshow{
        /* top: -120px; */
    }
    .slideshow-body{
        width: 100%;
        /* border: 1px solid yellow; */
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .slideshow-body>h2{
       font-size: 19px;
       padding: 0px;
       margin-top: 30px;
       font-weight: 600;
       /* border: 2px solid red; */
       width: 100vw;
       padding: 30px 0px;
       background-color: hsl(358, 70%, 68%);
       color: #3C3C3C;
    }
    .slideshow-content{
        width: 100vw;
        /* flex-direction: column; */
        border: 2px solid #3C3C3C;
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 15px 8px 0px 8px;
        margin-top: -10px;
        height: 55%;
        /* background-color: hsla(186, 89%, 29%, 0.65); */
        /* background: linear-gradient(180deg,hsla(186, 89%, 29%, 1),hsla(186, 89%, 29%, 0.1)); */
        background: linear-gradient(180deg,#3C3C3C,hsla(186, 89%, 29%, 0.1));
    }
    .slide-regie{
        font-size: 18px;
        font-weight: 600;
        /* border: 1px solid blue; */
    }
    .slide-info{
        /* border: 1px solid green; */
        width: 100%;
        height: 100%;
        padding: 0px 5px;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .slide-img{
        /* border: 1px solid blue; */
        width: 35%;
        height: 60%;
    }
    .slide-descriere{
        font-size: 14px;
        font-style: normal;
        /* border: 1px solid red; */
        /* height: 80%; */
    }
    .slide-format{
        padding: 0px;
    }
    .slide-data{
        font-size: 16px;
    }
    .slide-bttn{
        display: none;
    }
    .slide-bttn-resp{
        display: block;
        margin-top: 20px;
    }
    .slide-data{
        display: none;
    }
    .slide-data-resp{
        margin-top: 10px;
        display: block;
        color: #f5f5f5;
    }


@media screen and (max-width: 767px){

    .cards-container{
        /* border: 2px solid blue; */
        padding: 20px 0px !important;
    }
    .col-md-6{
        padding: 0px;
    }
    .card{
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }
    .card-img{
        height: 60%;
    }
}

}