 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*:focus {
  outline: none;
}

/* NAVIGATION BAR */

nav{
  width: 100%;
  height: 60px;
  /* background-color: hsl(268, 20%, 45%); */
  background-color: #3C3C3C;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  z-index: 300;
}


#nav-login-area .user-name {
  margin-top: 18px;
  color: white;
}

#nav-login-area .btn-logout {
  background: none;
  outline: none;
  border: none;
}

#nav-logo-area{
  height: 60px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 60px;
}
#nav-logo-area>img{
  height: 30px;
  width: 30px;
}
#nav-logo-area>h1{
  color: #FF5A5F;
  font-size: 15px;
  padding: 10px;
}
#nav-search-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-search-area>input{
  width: 400px;
  height: 30px;
  border-radius: 5px;
  background-color:  hsl(0, 0%, 24%);
  padding: 10px;
  color: #ff5A5f;
  border: 2px #FF5A5F solid;
}
#nav-search-area>input::placeholder{
  color: hsl(0, 0%, 60%);
}
#nav-login-area{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 60px 0px 0px;
}

.login-button{
  width: 130px;
  height: 60px;
  font-size: 14px;
  color: #FF5A5F;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:  0.4s ease;
  text-decoration: none;
}

.login-button:hover{
  background-color:  #FF5A5F;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}
main,footer{
  position: relative;
  top: 60px;
}
 

@media screen and (max-width: 925px) {
  main,footer{
    top: 120px;
  }
  nav{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav-logo-area{
    padding: 0px;
    height: 60px;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
  }
  #nav-login-area{
    height: 60px;
    padding: 0px;
  }
}
@media screen and (max-width: 420px){
  .login-button{
    width: 50vw;
    padding: 0;
  }
}